/* Red: #9C2409 */
*{
    box-sizing: border-box;
}
/*layout styling*/
.container {
    padding: 0 30px;
}
.row{
    display: inline-block;
    margin: 25px 0;
}

#work .row{
    display: inline-block;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 2px solid #C4C4C4;
}
#work .container {
    margin-bottom: 200px;
}
.myproject {
    max-width: 50%;
    margin: auto;
    padding: 20px;
}
.resize {
    max-width: 600px;
}
#hero {
    display: inline-block;
    background-color:white;
    border-bottom: 2px solid #C4C4C4;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.flright {
    float: right;
}
.flleft {
    float: left;
}
.logo {
    max-width: 500px;
}

/*general typography */
body {
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    color: black;
}
h1, h2, h3, h6 {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.4;
}
h1 {
    font-weight: 700;
    font-size: 3em;
}
h2 {
    font-weight: 600;
    font-size: 2em;
}
h3 {
    font-weight: 500;
    font-size: 1.5em;
}
h6 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

@media screen and (max-width: 767px) {
body {
  font-size: 12px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
}

/*header*/
header {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    margin: auto;
    text-align: center;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
nav {
    display: inline-block;
    width: 100%;
}
nav > ul {
    padding: 0px;
    list-style-type: none;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 0 15px;
}
nav > ul > li > a:active{
    text-decoration: underline;
}
nav > ul > li > a:avisited{
    color: #9C2409;
}

/*footer*/
footer{
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    margin-top: 40px;
    margin: auto;
    text-align: center;
}
.sociallink {
    display: inline-block;
    font-size: 2em;
    color: white;
    background-color: #9C2409;
    padding: 10px;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* links */
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
.button {
    display: inline-block;
    background-color: #9C2409;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid black;
    margin: 20px 0;
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}
.button.email{
    display: inline-block;
    background-color: white;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    border: 7px solid #9C2409;
    transition: 0.2s opacity;
}
.button.email:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button.casestudy {
    display: inline-block;
    background-color: #9C2409;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
    border-bottom: 2px solid black;
    transition: 0.2s opacity;
}
.button.casestudy:hover {
    opacity: 0.8;
    text-decoration: none;
}

/*project briefs*/
.banner{
    display:inline-block;
    width: 100%;
    background-color: #9C2409;
    color: white;
    padding: 0 10px;
    text-align: left;
}
#jovis img {
    max-width: 500px;
    height: auto;
}
.viewproject {
    margin-bottom: 100px;
}
.banner{
    display: inline-block;
    width: 100%;
    background-color: #9C2409;
    color: white;
}
.details {
    color: white;
    background-color: #9C2409;
    padding: 20px;
    height: 650px;
    width: 35%;
    
}
.title{
    background-color: #9C2409;
    color: white;
    padding: 0 10px;
}
