/* Red: #9C2409 */
*{
    box-sizing: border-box;
}
img {
    width: 100%;
}

/*header*/
header {
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
nav {
    display: inline-block;
    width: 100%;
}
nav > ul {
    padding: 0px;
    list-style-type: none;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 0 15px;
}
nav > ul > li > a:active{
    text-decoration: underline;
}




/*layout styling*/
.container {
    padding: 0 15px;
}
.row{
    margin: 25px 0;
}

#work .row{
    padding-bottom: 25px;
    border-bottom: 2px solid #C4C4C4;
}
#hero {
    display: inline-block;
    background-color:white;
    border-bottom: 2px solid #C4C4C4;
}
.center {
    text-align: center;
}
.logo {
    max-width: 500px;
}



/* links */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.button {
    display: inline-block;
    background-color: #9C2409;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid black;
    margin: 20px;
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}
.button.email{
    display: inline-block;
    background-color: white;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    border: 7px solid #9C2409;
    transition: 0.2s opacity;
}
.button.email:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button.casestudy {
    display: inline-block;
    background-color: #9C2409;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid black;
    transition: 0.2s opacity;
}
.button.casestudy:hover {
    opacity: 0.8;
    text-decoration: none;
}
